@use '@styles/index' as *;

.page-container {
  margin: 0 auto;
  padding: 0;
  
  h2 {
    font-size: 2rem;
    font-weight: $font-weight-bold;
    color: $color-primary;
    margin-left: 2rem;
    font-family: $font-family-main;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $color-text-primary;
    margin-bottom: 1rem;
    font-family: $font-family-main;
  }
} 
